<app-userinfo [user]="userService.currentChatUser"></app-userinfo>


<ul class="message-list" #messageListElem>
    <li class="message-list-item" *ngFor="let item of messageList; trackBy:trackMessageListFn"
        [ngClass]="item.from==userService.currentUser.id?'flex-right':'flex-left'">

        <div class="message-container">
            <span class="message-block"><img [src]="userService.getImagePathFn(item.from)" />
                <span> {{item.message}}</span> </span>
            <span class="timestamp-block">{{item.timeStamp | date:'shortTime'}}</span>
        </div>

    </li>
</ul>


<form class="u-p_pt-5 flex--row user-input-form">
    <input class="u-p_pt-25 user-input" type="text" name="currentMessage" [(ngModel)]="currentMessage"
        placeholder="Type your message here" autocomplete="off" />
    <button type="submit" class="user-input-submit" (click)="sendMessageFn()">Send message</button>
</form>