@import "../../common";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: $chat-message-bg;
}

.message-list {
  overflow-y: auto;
  list-style: none;
  height: 100%;
  padding: 0;
  /* border-top: 0.5em solid $current-user-bg; */
  margin-top: 0;
  .message-list-item {
    > .message-container {
      border-radius: 0.5em;
      width: auto;
      max-width: 55%;
      @include flex-box(flex, row, center, unset);
      flex-wrap: wrap;
      text-overflow: ellipsis;
      word-break: break-all;
      font-weight: 300;
      .message-block {
        @include flex-box(flex, row, center, unset);
        .message-user-img {
          align-self: baseline;
          max-height: $img-heighgt-sm;
        }
      }
      .timestamp-block {
        width: 100%;
        text-align: right;
        font-size: 0.6em;
        color: $chat-message-bg;
      }
    }
    &.flex-right {
      justify-content: flex-end;
      > .message-container {
        background: $chat-own-text;
      }
    }

    &.flex-left {
      justify-content: flex-start;
      > .message-container {
        background: $chat-reply;
      }
    }
  }
}

.user-input-form {
  position: sticky;
  bottom: 0;
  background: $current-user-bg;
  .user-input {
    font-size: 1.2em;
    flex: 1;
    background: $secondary-bg-color;
    @extend %no_outline_no_border;
    border-bottom: 2px solid $current-user-bg;
  }
  .user-input-submit {
    margin-left: 0.5em;
    background: $chat-message-bg;
    @extend %no_outline_no_border;
    color: $white;
    font-variant: all-petite-caps;
    border-radius: 0.5em;
    img {
      transform: rotate(45deg);
      max-height: 2em;
      position: relative;
      left: -2px;
    }
  }
}
