<!-- Loop through each user to show case friend list -->
<ul class="user-list" (click)="onUserItemClickFn($event)">
  <li class="user-list-item" [id]="'user'+item.id"
    [ngClass]="userService.currentChatUser.id==item.id?'user-list-item-active':''"
    *ngFor="let item of friendList;trackBy:trackFriendListFn">
    <img class="user-list-item-img" [src]="userService.getImagePathFn(item.id)" />
    <div class="user-list-item-details flex--col">
      <h3>{{item.userName}}</h3>
      <h6>{{item.labels}}</h6>
    </div>
  </li>
</ul>