@import "../../common";

:host {
  @include flex-box(flex, column, unset, unset);
}

.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  width: 100%;
  .user-list-item {
    @include flex-box(inline-flex, row, center, unset);
    width: inherit;
    cursor: pointer;
    border-bottom: 1px solid $grey-shd;
    .user-list-item-img {
      max-height: $img-height-md;
    }
    .user-list-item-details {
      h3,
      h5,
      h6 {
        margin: 0;
        font-weight: 300;
      }
    }
  }
  .user-list-item:hover {
    background: $chat-message-bg-trans;
  }
  .user-list-item-active,
  .user-list-item-active:hover {
    background: $chat-message-bg;
    color: $white;
  }
}
