@import "./../../common";

.user-info {
  background: $current-user-bg;
  .user-info-img {
    max-height: $img-height-lg;
  }
  .user-info-div {
    @include flex-box(flex, column, unset, center);
    .user-info-title,
    .user-info-select,
    .user-info-label {
      margin: 0;
      color: aliceblue;
    }
    .user-info-select {
      background: $current-user-bg;
      border: none;
      font-size: $h3;
      &:focus {
        outline: none;
      }
    }
    .user-info-label {
      font-weight: 100;
      color: cornsilk;
      font-variant: all-petite-caps;
    }
  }
}
