@import "./../../common";

.current-user-info {
  background: $current-user-bg;

  img {
    max-height: 5rem;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      margin: 0;
      color: aliceblue;
    }
    h5 {
      margin: 0;
      font-weight: 100;
      color: cornsilk;
      font-variant: all-petite-caps;
    }
  }
}
