@import "../common";

:host {
  @include flex-box(flex, column, unset, unset);
  height: 100vh;
}

.parent-div {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: $secondary-bg-color;
}

app-userinfo {
  width: 100%;
}

app-friends {
  max-width: 20%;
  height: 100%;
}

app-messageviewer {
  height: 100%;
  flex: 1;
}
