@import "../common";

.parent-div {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 98%;
  background-color: $secondary-bg-color;
}

app-friends {
  width: 20%;
  height: 100%;
}

app-messageviewer {
  width: 80%;
  height: 100%;
}
