$primary-color: #00bfa5;
$secondary-bg-color: #f5fcff;
$white: #ffffff;
$current-user-bg: #009688;
$chat-message-bg: #2f4f4f;
$chat-message-bg-trans: #2f4f4f14;
$chat-own-text: #dcf8c6;
$chat-reply: whitesmoke;
$grey-shd: #eeeeee;
$grey-shd-dark:#9a9a9a8c;

$img-height-lg: 5em;
$img-height-md: 4em;
$img-heighgt-sm: 2em;

$h3: 1.17em;

/* A mixing to generate few properties for flexbox */
@mixin flex-box($display, $flexDirection, $alignItems, $justifyContent) {
  display: $display;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

%no_outline_no_border {
  outline: none;
  border: none;
}
